html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

div {
    text-align: center;
    padding:10px;
}

.navbar-brand{
    text-align:center;
}

.login-content{
    background-color: black;
}
/* style.css */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin-bottom: 60px;
}

.login-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.form-control {
    margin-bottom: 15px;
}

    .form-control input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .form-control button {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
        cursor: pointer;
    }

        .form-control button:hover {
            background-color: #0056b3;
        }
