html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

.container{
    margin-bottom: 0px;
}

#middle-container{
    margin-top:50px;
}

#taskForm{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
}

#startButton {
    color: white;
    background-color: darkcyan;
    outline-color: white;
    width:10%;
}

#SelectedTaskId{
    width:10%;
    text-align:center;
}

.taskFormChild {
    margin: 5px;
    width: 20%;
    padding: 10px;
}

.border-top{
    background-color: white;
}

#header-container{
    justify-content: space-around;
    padding:0px;
}

div {
    text-align: center;
    padding:10px;
}

.navbar-brand{
    font-family:'Century Gothic';
    font-size: xx-large;
    margin-right: 0px;
}

footer {
    font-family: 'Century Gothic';
    box-shadow: 0.75rem 0.25rem 0.75rem 0.75rem rgba(0, 0, 0, .05);
}

.border-top {
    margin-top: 10px;
}

.acc-table{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.pb-3 h2{
    margin-bottom: 25px !important;
    font-family:Calibri;
    font-size: 250%;
    color:darkcyan;
}

#login-button{
    color:white;
    background-color:darkcyan;
    outline-color: white;
}

.login-content{
    background-color: cadetblue;
}
/* style.css */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin-bottom: 60px;
}

.login-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.form-control {
    margin-bottom: 15px;
}

    .form-control input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .form-control button {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
        cursor: pointer;
    }

        .form-control button:hover {
            background-color: #0056b3;
        }
