@{
    ViewBag.Title = "No access";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using CRM.GlobalResources
<div class="row wrapper border-bottom white-bg page-heading">

    <div class="col-sm-4">
        <h2>@Common.PermissionAlert</h2>
        <ol class="breadcrumb"></ol>
    </div>
</div>
