;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Styles.Render("~/Main/css")
    <link href="~/Content/dev/Account/login.css?v=@ViewBag.BuildVersion" rel="stylesheet">
</head>
<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown container-div">
        <div>
            <div>
                <div class="logo-name">
                    <img src="~/Content/images/shr-logo2.svg" />
                </div>

            </div>
            <div class="alert alert-danger alert-dismissable" id="ErrorMessageDiv">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <span id="ErrorMessage">@TempData["ErrorMessage"]</span>
            </div>
            <form class="m-t" role="form" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="UserName" required="" value="@TempData["username"]" name="username" id="username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" required="" name="password" id="password">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
                <a href="~/Account/EmailPwd"><small>Forgot Your Password</small></a>
                <span class="hide">@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))</span>
            </form>
        </div>
    </div>
    <input type="hidden" id="hidRequired" value="Required"/>
    <input type="hidden" id="hidUserName" value="UserName" />
    <input type="hidden" id="hidPassword" value="Password" />

    <script type="text/javascript" src="~/Scripts/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/dev/Account/login.js?v=@ViewBag.BuildVersion"></script>
</body>
</html>

