<?xml version="1.0"?>
<log4net>
  <!-- Define some output appenders -->
  <appender name="InfoFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="C:\Logs\CRM\CRMAdmin\Info.Log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Date"/>
    <datePattern value="yyyyMMdd"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%property{log4net:HostName}] %-5level - %message%newline"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG"/>
      <levelMax value="WARN"/>
    </filter>
  </appender>
  <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="C:\Logs\CRM\CRMAdmin\Error.Log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Date"/>
    <datePattern value="yyyyMMdd"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%property{log4net:HostName}] %-5level - %message%newline"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="ERROR"/>
      <levelMax value="FATAL"/>
    </filter>
  </appender>
  <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
    <file value="log-file.txt"/>
    <!-- Example using environment variables in params -->
    <!-- <file value="${TMP}\log-file.txt" /> -->
    <appendToFile value="true"/>
    <!-- An alternate output encoding can be specified -->
    <!-- <encoding value="unicodeFFFE" /> -->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%property{log4net:HostName}] %-5level - %message%newline"/>
    </layout>
  </appender>
  <appender name="SmtpPickupDirAppender" type="log4net.Appender.SmtpPickupDirAppender">
    <to value="dayang@whiteboardlabs.com"/>
    <from value="error@whiteboardlabs.net"/>
    <subject value="CRM (local) ExtResService Reports Error"/>
    <pickupDir value="C:\Inetpub\mailroot\Pickup"/>
    <bufferSize value="5"/>
    <lossy value="true"/>
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="ERROR"/>
    </evaluator>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%newline%date [%property{log4net:HostName}] %-5level %logger - %message%newline%newline%newline"/>
    </layout>
  </appender>
  <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
    <to value="alert@windsurfercrs.com"/>
    <from value="error@windsurfercrs.com"/>
    <subject value="CRM ExtResService Reports Error (local)"/>
    <smtpHost value="127.0.0.1"/>
    <bufferSize value="2"/>
    <lossy value="true"/>
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="ERROR"/>
    </evaluator>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%newline%date [%property{log4net:HostName}] %-5level - %message%newline%newline%newline"/>
    </layout>
  </appender>
  <!-- Setup the root category, add the appenders and set the default level -->
  <root>
    <level value="DEBUG"/>
    <appender-ref ref="InfoFileAppender"/>
    <appender-ref ref="ErrorFileAppender"/>
    <!--<appender-ref ref="SmtpAppender"/> -->
  </root>
</log4net>