@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <h2 style="float:left">@ViewBag.Message</h2>
</div>

<div class="row">
    <div>
        <label class="col-md-2" style="font-size:larger">Test Name</label>
        <label class="col-md-6">ConceptCraft Test 4</label>
    </div>
    <div class="clearfix"></div>
    <div>
        <label class="col-md-2" style="font-size:larger">Average Grade</label>
        <label class="col-md-6">82</label>
    </div>
</div>
