@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <h2>@ViewBag.Message</h2>
</div>

<div class="row" style="padding-top:18px">
    <div class="col-md-3" style="width:45%">
        <ul class="list-group">
            <li class="list-group-item"><a href="Questions">Proportional relationships</a></li>
            <li class="list-group-item"><a href="Questions">Rates and percentages</a></li>
            <li class="list-group-item"><a href="Questions">Integers</a></li>
            <li class="list-group-item"><a href="~/Test/Questions">Rational numbers</a></li>
            <li class="list-group-item"><a href="~/Test/Questions">Negative numbers</a></li>
        </ul>
    </div>
    <div class="col-md-3" style="width:45%">
        <ul class="list-group">
            <li class="list-group-item"><a href="~/Test/Questions">Expressions, equations, inequalities</a></li>
            <li class="list-group-item"><a href="~/Test/Questions">Statistics and probability</a></li>
            <li class="list-group-item"><a href="~/Test/Questions">Scale copies</a></li>
            <li class="list-group-item"><a href="~/Test/Questions">Geometry</a></li>
        </ul>
    </div>
</div>