@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using CRM.GlobalResources

<div>

    <div class="row wrapper border-bottom white-bg page-heading">
        <h2 style="float:left">@ViewBag.Message</h2>
    </div>

    <form action="Scores" method="post" enctype="multipart/form-data">
        <div style="margin-top:24px">
            <label id="lblPre">Pending Tests For Grading</label>
            <div>
                <select name="dropdownName" id="dropdownId" style="width:50%">
                    <option value="option1">ConceptCraft Test 1</option>
                    <option value="option2">ConceptCraft Test 2</option>
                    <option value="option3">ConceptCraft Test 3</option>
                    <!-- Add more options as needed -->
                </select>
            </div>
        </div>

        <div style="margin-top:24px">
            <label for="fileUpload">Choose a file:</label>
            <div>
                <input type="file" id="fileUpload" name="file">
            </div>
        </div>

        <div style="margin-top:24px">
            <button class="btn btn-primary" style="margin-left:24px; margin-top:24px; vertical-align:top" type="submit">Upload</button>
        </div>
    </form>

</div>