body {

}
 .notification-bell {
            display: inline-block;
        }

        .notification-bell--inactive .notification-bell__icon:hover {
            opacity: 0.6 !important;
        }

        .notification-bell__icon {
            background: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB2aWV3Qm94PSczIDIgMTQgMTYnIHZlcnNpb249JzEuMScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz4NCiAgICA8cGF0aCBkPSdNMTAsMTggQzEwLjkwNTg4MjQsMTggMTEuNjQ3MDU4OCwxNy4yOCAxMS42NDcwNTg4LDE2LjQgTDguMzUyOTQxMTgsMTYuNCBDOC4zNTI5NDExOCwxNy4yOCA5LjA5NDExNzY1LDE4IDEwLDE4IEwxMCwxOCBaIE0xNS4zNTI5NDEyLDEzLjIgTDE1LjM1Mjk0MTIsOC44IEMxNS4zNTI5NDEyLDYuMzQ0IDEzLjU5ODgyMzUsNC4yODggMTEuMjM1Mjk0MSwzLjc0NCBMMTEuMjM1Mjk0MSwzLjIgQzExLjIzNTI5NDEsMi41MzYgMTAuNjgzNTI5NCwyIDEwLDIgQzkuMzE2NDcwNTksMiA4Ljc2NDcwNTg4LDIuNTM2IDguNzY0NzA1ODgsMy4yIEw4Ljc2NDcwNTg4LDMuNzQ0IEM2LjQwMTE3NjQ3LDQuMjg4IDQuNjQ3MDU4ODIsNi4zNDQgNC42NDcwNTg4Miw4LjggTDQuNjQ3MDU4ODIsMTMuMiBMMywxNC44IEwzLDE1LjYgTDE3LDE1LjYgTDE3LDE0LjggTDE1LjM1Mjk0MTIsMTMuMiBMMTUuMzUyOTQxMiwxMy4yIFonIHN0cm9rZT0nbm9uZScgZmlsbD0nI0U2RTlGMCcgZmlsbC1ydWxlPSdldmVub2RkJz48L3BhdGg+DQo8L3N2Zz4=) no-repeat;
            display: inline-block;
            height: 16px;
            position: relative;
            transition: opacity ease 300ms;
            width: 14px;
            z-index: 1;
        }

        .notification-bell__mentions {
            background: #f36;
            border-radius: 3px;
            bottom: 6px;
            box-sizing: border-box;
            color: #fff;
            height: 13px;
            left: 10px;
            padding: 0 3px;
            position: absolute;
            text-align: center;
            z-index: 2;
        }

        .madkudu_modal {
            display: none;
            position: fixed;
            height: 100vh;
            width: 100vw;
            z-index: 1000;
            top: 0em;
            left: 0em;
        }

            .madkudu_modal.open {
                display: block;
            }

        .madkudu_modal__overlay {
            position: fixed;
            height: 100vh;
            width: 100vw;
            background: #4a90e2;
            opacity: 0.85;
        }

        .madkudu_modal__canvas {
            position: fixed;
            height: 100vh;
            width: 100vw;
            text-align: center;
            font-family: Open Sans, Helvetica Neue, Helvetica, sans-serif;
            z-index: 100001;
        }

        .madkudu_modal__box_parent {
            position: relative;
            width: 100%;
            height: 100%;
        }

        .madkudu_modal__box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .madkudu_modal__title {
            font-size: 50px;
            line-height: 50px;
            color: #FFF;
            padding-bottom: 30px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .madkudu_modal__subtitle {
            color: #FFF;
            font-size: 24px;
            line-height: 35px;
            padding-bottom: 40px;
        }

        .madkudu_modal__button {
            line-height: 2em;
            color: #FFF;
            display: inline-block;
            text-transform: uppercase;
            letter-spacing: 1px;
            border: 0;
            cursor: pointer;
            text-decoration: none;
            outline: none;
            transition: background-color 0.2s ease-in, color 0.2s ease-in;
        }

        .madkudu_modal__button--primary {
            line-height: 2em;
            color: #FFF;
            display: inline-block;
            text-transform: uppercase;
            letter-spacing: 1px;
            border: 0;
            cursor: pointer;
            text-decoration: none;
            outline: none;
            transition: background-color 0.2s ease-in, color 0.2s ease-in;
            width: 350px;
            background-color: #077355;
            font-size: 19px;
        }

            .madkudu_modal__button--primary:hover {
                background-color: #066355;
                color: #FFF;
            }

        .madkudu_modal__button--secondary {
            line-height: 2em;
            color: #FFF;
            display: inline-block;
            text-transform: uppercase;
            letter-spacing: 1px;
            border: 0;
            cursor: pointer;
            text-decoration: none;
            outline: none;
            transition: background-color 0.2s ease-in, color 0.2s ease-in;
            width: 180px;
            margin-left: 20px;
            margin-right: 20px;
            text-decoration: underline;
            font-size: 15px;
            background-color: transparent;
        }

            .madkudu_modal__button--secondary:hover {
                color: #DDD;
            }

        .madkudu_modal__branding {
            color: #FFF;
            font-size: 13px;
            position: fixed;
            bottom: 20px;
            left: 20px;
            color: #d9d9d9;
        }

            .madkudu_modal__branding a {
                text-decoration: none;
                color: #FFF;
                letter-spacing: 1px;
            }


             iframe#_hjRemoteVarsFrame {
            display: none !important;
            width: 1px !important;
            height: 1px !important;
            opacity: 0 !important;
            pointer-events: none !important;
        }
