@model MyTime.Models.TimeLeftTaskView
@{
    ViewBag.Title = "Task Selector";
}

<h2>Select a Task</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "taskForm" }))
{
    @Html.DropDownListFor(m => m.SelectedTaskId,
                new SelectList(Model.Tasks, "TypeID", "TypeName"),
                "Select a Task",
                new { @onchange = "document.getElementById('taskForm').submit();" })

    <label class="taskFormChild">Time Left: @Model.SelectedTask?.TimeLeftInMin minutes</label>

    <button id="startButton" class="taskFormChild" type="submit" name="action" value="toggleState">
        @Model.ButtonText
    </button>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
