@model MyTime.Models.UserLogin

@{
    ViewData["Title"] = "Login";
}

<h2>Welcome</h2>

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{   
    <div class="login-content">
        <div class="acc-table">
            @Html.LabelFor(m => m.Username)
            @Html.TextBoxFor(m => m.Username)
        </div>
        <div class="acc-table">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
        </div>
        <div>
            <input id="login-button" type="submit" value="Login" />
        </div>
    </div>
    
}

@if (ViewBag.LoginFailed != null)
{
    <p style="color:red;">Login failed. Please try again.</p>
}